---
layout: page
titles:
# @start locale config
  ru      : Поддержка
  en      : &EN       Support
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
# @end locale config
---

<style>
  .grid-container.crypto-thanks {
    text-align: center;
    font-size: 0.9rem;
  }

  .grid-container.crypto-thanks .qr {
    height: 160px;
  }

  .grid-container.crypto-thanks .crypto-logo {
    height: 43px;
    display: inline-block;
    margin-bottom: 20px;
  }
</style>

<div class="article__content">
  <h3>Волшебное слово</h3>
  <p>
    Если Вы хотите меня поблагодарить, достаточно просто сказать <b>Спасибо</b> :-). В комментариях к посту телеграма о конкретной статье, или в личку. Понимание того, что твои труды
    кому - то приносят пользу - самая лучшая награда и мотивация на то, чтобы продолжать.
  </p>

  <h3>Подписка и шаринг</h3>
  <p>
    Выразить благодарность можно подписавшись на:
  </p>

  <ul>
    <li>
      телеграм канал блога
      <svg width="20" height="20">
        <image xlink:href="/assets/me/t_logo.svg" src="/assets/me/t_logo.svg" srcset="/assets/me/t_logo.svg 2x, /assets/me/t_logo.svg 1x" alt="Telegram logo" width="20" height="20"></image>
      </svg>
      <a href="https://t.me/igancev_ru">@igancev_ru</a>
    </li>
    <li>
      телеграм канал о PHP

      <svg width="20" height="20">
        <image xlink:href="/assets/me/t_logo.svg" src="/assets/me/t_logo.svg" srcset="/assets/me/t_logo.svg 2x, /assets/me/t_logo.svg 1x" alt="Telegram logo" width="20" height="20"></image>
      </svg>
      <a href="https://t.me/phpshnik">@phpinfo();</a>
    </li>
  </ul>

  <p>
    А также поделившись ссылкой на любой материал с сайта или на телеграм канал на любых площадках.
  </p>

  <h3>Криптоспасибо</h3>
  <p>
    Мне будет очень приятно получить транзакцию на любую сумму на любой из криптовалютных кошельков:
  </p>

  <div class="grid-container crypto-thanks">
    <div class="grid grid--p-3">
      <div class="cell cell--12 cell--md-5 cell--lg-4">
        <img src="/assets/support/bitcoin.png" alt="Bitcoin logo" title="Bitcoin" class="crypto-logo">
        <img src="/assets/support/qr-btc.png" alt="qr code bitcoin wallet" class="qr">
        <p>
          1HoRsxQBDVHm5uQMo5BZCDBxyuy4SM8z5p
        </p>
      </div>
      <div class="cell cell--12 cell--md-5 cell--lg-4">
        <img src="/assets/support/monero-logo-480.png" alt="Monero logo" title="Monero" class="crypto-logo">
        <img src="/assets/support/qr-monero.png" alt="qr code monero wallet" class="qr">
        <p>
          89hJZGEjPJ66d8HBPFpt6o5oCjgaWK5uU4yocWAY64vqVTpnaPFD4FLLvWBpBqzMfN88yomfqmU8NMACTTAS8uBi5e6sYJN
        </p>
      </div>
    </div>
  </div>

  <h3>Рефералки</h3>
  <p>
    Если вы воспользуетесь услугами ниже перечисленных компаний после прохождения по моим <b>реферальным ссылкам</b>,
    я получу денежное отчисление в свой партнерский аккаунт, или какие - нибудь скидки или плюшки. Вы, кстати, тоже.
  </p>

  <h4><a target="_new" href="https://timeweb.com/ru/?i=24857&a=139">Timeweb</a></h4>
  <p>
    Хостинг и виртуальные серверы
  </p>
  <p>
    <a target="_new" href="https://timeweb.com/ru/?i=24857&a=139"><img style="border: 0;" src="https://wm.timeweb.ru/images/posters/728x90/728x90-4.gif" alt="banner timeweb"></a>
  </p>

  <h4><a target="_new" href="https://firstvds.ru/?from=665052">FirstVDS</a></h4>
  <p>
    Выделенные серверы с размещением в России
  </p>
  <a target="_new" href="https://firstvds.ru/?from=665052"><img src="/assets/support/firstvds.jpg" alt="banner firstvds"></a>

  <h4><a target="_new" href="https://www.robovps.biz/?ref=24602">RoboVPS</a></h4>
  <p>
    Выделенные серверы с размещением в Германии
  </p>
  <a target="_new" href="https://www.robovps.biz/?ref=24602"><img src="/assets/support/robovps.png" alt="banner robovps"></a>

</div>
